.columns
  %h1 Build your Jerry

  <iframe src="https://docs.google.com/presentation/d/1gqRxKAMPCHz9Px4jxWcmtv-5ju8aKYkvKKFtdsa9PWg/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  = image_tag "/jerry_build_workflow.png", class: "workflow"
  .small-centered.small-8.medium-4.columns
    = link_to "More documentation", "https://drive.google.com/folderview?id=0B5QAJ2wPKizPdlZ5ekJZa1hPUVk&usp=sharing", target: "_blank", class: "small-centered button radius"
