# Add application configuration variables here, as shown below.

# This one should be generated
SECRET_TOKEN:

# You need an account on Amazon S3
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
AWS_BUCKET_NAME:

# Port needed only if different of 80
HOST: localhost:3000

# Production only
MANDRILL_USERNAME:
MANDRILL_APIKEY:

LOCALES: en fr
