/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import 'foundation_and_overrides';
@import 'jerries';
@import 'makers';
@import 'organs';

.top-bar {
  .name .nav-1 {
    background-color: $nav-color-1;
    &:hover {
      color: $topbar-link-color-hover;
      background-color: $topbar-link-bg-hover;
    }
  }
  .top-bar-section .left {
    .nav-2 {
      background-color: $nav-color-2;
    }
    .nav-3 {
      background-color: $nav-color-3;
    }
  }
}


#browser_id_form button {
  margin-bottom: 0;
  background-color: #E1E1E1;
}
#browser_id_form button:before {
  padding-right: 5px;
  content: url(/persona-glyph.png);
  height: 1rem;
}
#browser_id_form input, #browser_id_form button, #browser_id_form .button {
  top: 3px;
}
p.label.secondary, a.label.secondary {
  color: #222;
}
a img:hover {
  opacity: 0.8;
}
.pages {
  h1 {
    margin: rem-calc(25) auto;
  }
  .workflow {
    margin: rem-calc(20) auto;
  }
}
