// Place all the styles related to the jerries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jerries {
  h1 {
    margin: rem-calc(25) auto;
  }
  h2 {
    border-bottom: 5px solid #DDD;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
  }
  h6 {
    font-size: rem-calc(13);
  }
  iframe {
    border: none;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(20);
  }
}
#jerry_bio {
  min-height: 3.9rem;
}
.avatar {
  margin-bottom: 1.25rem;
}
.new_maker {
  margin-top: 1.25rem;
}
.flash-error, .flash-notice {
  background-color: #E1E1E1;
  padding: 0 1rem;
}
.flash-error::before, .flash-notice::before {
  content: "» ";
}
.profile {
  background-color: $brand-primary;
  img:hover {
    opacity: 0.42;
  }
}

.profile-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;

  h5, h6 {
    white-space: nowrap;
    overflow: hidden;
  }
}

#fold {
  img {
    margin: 2.5rem auto;
  }
  h1 {
    margin-top: 1rem;
  }
  min-height: 14rem;
  h2 {
    padding: 2.3rem;
    border: none;
  }
}

#tour {
  padding-top: rem-calc(120);
  margin-bottom: rem-calc(60);
}

a img:hover {
  opacity: 0.8;
}

.columns {
  float: left;
  width: 25%;
  padding: 10px;
}

@media (max-width: $screen-sm) {
  .columns {
    width: 33%;
  }
}
