// Place all the styles related to the jerries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jerries {
  h2 {
    border-bottom: 5px solid #DDD;
  }
}
#jerry_bio {
  min-height: 3.9rem;
}
.avatar {
  margin-bottom: 1.25rem;
}
.new_maker {
  margin-top: 1.25rem;
}
.flash-error, .flash-notice {
  background-color: #E1E1E1;
  padding: 0 1rem;
}
.flash-error::before, .flash-notice::before {
  content: "» ";
}
.profile {
  background-color: #FFFF00;
  img:hover {
    opacity: 0.42;
  }
}
#fold {
  min-height: 14rem;
  h2 {
    padding: 2.3rem;
    border: none;
  }
}
