// Place all the styles related to the jerries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jerry_bio {
  min-height: 3.9rem;
}
.avatar {
  margin-bottom: 1.25rem;
}
.new_maker {
  margin-top: 1.25rem;
}
.flash-error, .flash-notice {
  background-color: #DEDEDE;
  padding: 0 1rem;
}
.flash-error::before, .flash-notice::before { 
  content: "» ";
}