<h1>Edit your makername</h1>
<p>
  Pick a makername, <br>
  it will be publicly visible.
</p>
<%= form_for @maker, :url => edit_profile_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit 'Save', class: 'button radius' %>
  or
  <%= link_to 'Cancel', root_url %>
<% end %>
