%footer.row
  .large-12.columns
    %hr
    .row
      .small-12.columns
        %p.left
          Follow
          = link_to "@JerryDIT on twitter", "http://twitter.com/JerryDIT", target: "_blank"
          &amp;
          = link_to "on facebook", "http://www.facebook.com/pages/Jerry-Do-It-Together/518513301524401", target: "_blank"
        %p.right
          Content
          = link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/4.0/', target: "_blank"
          Jerry DIT |+|
          = link_to "Source Code", 'https://github.com/JerryDIT/adoptajerry', target: "_blank"
          AGPLv3
