<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="small-12 columns">
        <p class="right">
          <%= link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/4.0/deed.en_US' %>
          |+| Jerry DIT
        </p>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->
