<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="small-12 columns">
        <p class="left">
          Follow
          <a href="http://twitter.com/JerryDIT">@JerryDIT on twitter</a>
          &amp;
          <a href="http://www.facebook.com/pages/Jerry-Do-It-Together/518513301524401">on facebook</a>
        </p>
        <p class="right">
          <%= link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/4.0/' %>
          |+| Jerry DIT
        </p>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->
