<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="large-6 columns">
        <p>
          <%= link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/4.0/deed.en_US' %>
          Jerry DIT
        </p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://docs.google.com/presentation/d/1gqRxKAMPCHz9Px4jxWcmtv-5ju8aKYkvKKFtdsa9PWg/pub?slide=id.g1248ba439_910" class="button success radius small">Make a Jerry →</a></li>
          <li><a href="http://youandjerrycan.org" class="button secondary radius small">About Jerry DIT →</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->
