<!-- Navigation -->

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to "Adopt a Jerry", root_path %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if current_user %>
      <li>
        <%= link_to "Aloha! #{current_user.name}", edit_user_path, title: 'Edit my username' %>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Sign Out", signout_path %></li>

      <% else %>
      <li>
        <form id='browser_id_form' action='/auth/browser_id/callback'>
          <input type='hidden' name='assertion'/>
          <button type='submit' class='small secondary'>Sign in with BrowserID</button>
        </form>
      </li>
      <% end %>

    </ul>
  </section>
</nav>

<!-- End Navigation -->
